---
import Layout from "../../layouts/Layout.astro";
import ArticleWrapper from "../../layouts/ArticleWrapper.astro";
import InteriorHeader from "../../components/InteriorHeader.astro";
import NewsArticle from "../../components/NewsArticle.astro";

import { getEntries } from "../../components/EntriesFetch.astro";
import { getEntry } from "../../components/EntryFetch.astro";

const { slug } = Astro.params;
let singleArticleQuery = `
        {
  entry(sectionId: 12, slug: "${slug}") {
    id
    title
    slug
    ... on marketNews_default_Entry {
      summaryText
      richText
    }
  }
}
   `

let article = await getEntry(singleArticleQuery);

export async function getStaticPaths() {
  let allArticlesQuery = `
  {
    entries(sectionId: 12) {
    id
    title
    slug
    postDate
    ... on marketNews_default_Entry {
      summaryText
      richText
    }
  }
}
  `
  let articles = await getEntries(allArticlesQuery);
  return articles.map((article: { slug: any; }) => {
    return {
      params: { slug: article.slug },
      props: { article: article },
    };
  });
}

---
<Layout title={article.title}>
  <InteriorHeader />
  <ArticleWrapper>
    <NewsArticle
      title={article.title}
      summary={article.summaryText}
      slug={article.slug}
      postDate={article.postDate}
      fullText={article.richText}
      isEntry={true}
    />
    <p><a href="/news">Back to News</a></p>
  </ArticleWrapper>

</Layout>
